<!--
	Base template
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% load static %}
	<script src={% static "jquery.min.js" %}></script>
	<script src={% static "/js/bootstrap.js" %} type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href={% static "/css/bootstrap.css" %}>
	{% block additional_head_content %}
	{% endblock %}
	<title> {% block title %}{% endblock %}</title>
</head>
<body>
	{% include 'messages.html' %}
	{% block body %}
	{% endblock %}
</body>
</html>